@model OdeToFood.Models.Restaurant

<section class="restaurant-info">
    <h3>@Model.Id : @Model.Name</h3>
    <div>@Model.Cuisine</div>
    <a asp-action="Details" asp-controller="Home" asp-route-id="@Model.Id">View</a>
    <a asp-page="/Restaurants/Edit" asp-route-id="@Model.Id">Edit</a>
</section>